$font__main: 'Poppins', sans-serif;
$font__extra: 'Amatic SC', cursive;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 30/14;
$font__line-height-pre: 1.6;
