.topbar {
	color: #fff;
	font-weight: 500;
	padding: 5px 0;
	background-color: $color__primary;

	a {
		color: $color__secondary;

		&:hover {
			color: #fff;
		}
	}

	.currency {
		margin-right: 35px;

		a.woocs_flag_view_item {
			width: auto;
			height: auto;
			padding: 0;
			margin: 0;
		}

		a.woocs_flag_view_item_current {
			opacity: 1;
		}
	}

	.list-dropdown {
		@include font-size(1);
		color: $color__secondary;
		text-transform: uppercase;

		.current {
			color: $color__secondary;
		}

		ul {
			transform: translateY(9px);
			background-color: #111114;

			&:before {
				content: "";
				display: block;
				width: 100%;
				height: 10px;
				position: absolute;
				top: -10px;
			}
		}
	}

	.close {
		transform: translateX(23px);
		margin-top: 5px;
		opacity: 1;

		svg {
			transition: 0.5s;
			width: 15px;
			fill: $color__secondary;
		}

		&:hover svg {
			fill: $color__primary;
		}

		&:hover,
		&:focus {
			border: 0;
			box-shadow: none;
		}
	}

	.topbar-light & {
		color: $color__primary;
		background-color: #f1f2f4;

		a:hover {
			color: $color__primary;
		}

		.list-dropdown {
			ul {
				background-color: #f1f2f4;
			}
		}
	}

	.badge {
		@include font-size(1.2);
		font-weight: 500;
		color: $color__primary;
		line-height: (22/12);
		padding: 0 7px;
		margin-left: 5px;
		border-radius: 0;
		background-color: #00d994;
	}

	img {
		margin-right: 10px;
	}
}